@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', 'arial';
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #18411B;
}

.nav-container a {
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

header .logo {
  color: #AEC8A2;
  font-weight: bold;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  display: block;
  padding: 0 1em;
}

.social-header, .hero-design {
  display: none;
}

.main {
  background: #1A481D;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
  height: 40vh;
}

.content h1 {
  margin: 0;
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  color: #CFF1C8;
}
.cursor{
  display: inline-block;
  width: 3px;
  background-color: #ccc;
  margin-left: 0.1rem;
  animation: blink 1s infinite;
}
.cursor .typing{
  animation: none;
}
@keyframes blink {
  0% {background-color:#ccc;}
  49% {background-color:#ccc;}
  50% {background-color: transparent; }
  99% {background-color: transparent;}
  100% {background-color: #ccc; }
}

.scroll {
  width: 50px;
  margin-top: 2em;
}
.circle{
  animation: circleAnim 2.5s infinite alternate;
}
@keyframes circleAnim{
  from{
    transform: translate(412px, 671px);
    z-index: 5;
  }
  to{
    transform: translate(412px,698px);
  }

}

section {
  padding: 4em 2em;
  text-align: center;
}

.second {
  position: relative;
  background-color: #DFF6E6;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #45A25E;
  letter-spacing: .20em;
  font-size: 1.25em;
}

.about-me-description {
  color: #5F9A7A;
  margin-bottom: 2.85em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: .85em;
  line-height: 2em;
  font-weight: 500;
}

.resume-download {
  color: #5F9A7A;
  margin-bottom: 0em;
  font-size: .85em;
  line-height: 1.8em;
  font-weight: 500;
}

.svg:hover {
  transform: scale(1.35);
}

  


.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -5em;
}

.card {
  background: white;
  border: 1px solid #5F9A7A;
  border-radius: 20px;
  width: 400px;
  min-width: 250px;
  min-height: 500px;
  max-height: 750px;
  margin: 2em;
  border-radius: 20px;
  -webkit-box-shadow: -5px 8px 10px lightgray;
          box-shadow: -5px 8px 10px lightgray;
}

.card-image {
  background-color: #5F9A7A;
  height: 150px;
  border-radius: 20px 20px 0 0;
}

.card p {
  margin: 20px;
  padding: 10px;
  padding-top: 0px;
  text-align: center;
  color: #45A25E;
}

.card a {
  background-color: #225f26;
  color: white;
  padding: 12px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 1.5em;
  box-shadow: inset 0 0 0 0 #1e7924;
  transition: ease-out 1s;
}
.card a:hover{
  box-shadow: inset 200px 0 0 0 #1e7924;
}

.card h3 {
  color: #45A25E;
  font-size: 1.1em;
}

.contactme {
  margin-top: -4.5em;
}

.contact-form-container {
  width: 80%;
  max-width: 1250px;
  height: auto;
  margin: auto;
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  background: #DFF6E6;
  -webkit-box-shadow: 0px 0px 10px 0px lightgray;
          box-shadow: 0px 0px 10px 0px lightgray;
}

.contact-form {
  width: 100%;
  height: auto;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  padding: 1em;
}

.contact-form-txt {
  width: 50%;
  max-width: 370px;
  height: 25px;
  color: black;
  opacity: .65;
  border: 0px solid;
  border-radius: 20px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
  display: left;
}

.contact-form-txt::-webkit-input-placeholder {
  color: #aaa;
}

.contact-form-txt:-ms-input-placeholder {
  color: #aaa;
}

.contact-form-txt::-ms-input-placeholder {
  color: #aaa;
}

.contact-form-txt::placeholder {
  color: #aaa;
}

.contact-form-txt:focus, input:focus {
  outline: none;
}

.contact-form-txtarea {
  width: 75%;
  height: 150px;
  color: black;
  border: 0px solid;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 15px;
  opacity: .65;
  resize: none;
}

.contact-form-txtarea::-webkit-input-placeholder {
  color: #aaa;
}

.contact-form-txtarea:-ms-input-placeholder {
  color: #aaa;
}

.contact-form-txtarea::-ms-input-placeholder {
  color: #aaa;
}

.contact-form-txtarea::placeholder {
  color: #aaa;
}

.contact-form-txtarea:focus, input:focus {
  outline: none;
}

.contact-form-btn {
  width: 25%;
  min-width: 60px;
  max-width: 80px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #1A481D;
  color: #CFF1C8;
  text-transform: uppercase;
  padding: 10px 0px;
  font-size: 12px;
  box-shadow: inset 0 0 0 0 #1e7924;
  transition: ease-out 1s;
}
.contact-form-btn:hover{
  box-shadow: inset 200px 0 0 0 #1e7924;
}

footer {
  background: #18411B;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

footer a {
  color: white;
}

@media only screen and (max-width: 1049px) {
  .main {
    place-content: center;
    height: 60vh;
  }
}

@media only screen and (max-width: 541px) {
  .nav-container {
    font-size: .9em;
  }
  .footer-container {
    font-size: .9em;
    place-content: center;
  }
}

@media only screen and (max-width: 488px) {
  .nav-container {
    font-size: .8em;
  }
  .footer-container {
    font-size: .8em;
  }
}

@media only screen and (max-width: 434px) {
  .nav-container {
    font-size: .7em;
  }
  .footer-container {
    font-size: .7em;
  }
}

@media only screen and (max-width: 380px) {
  .nav-container {
    font-size: .6em;
  }
  .footer-container {
    font-size: .7em;
  }
}
@media only screen and (min-width: 370px){
  .scroll{
    height: 55px;
    width: 55px;
  }
}

@media only screen and (min-width: 400px) {
  .content {
    font-size: 1.25em;
  }
}

@media only screen and (min-width: 500px) {
  .content {
    font-size: 1.35em;
  }
}

@media only screen and (min-width: 600px) {
  .content {
    font-size: 1.75em;
  }
  .scroll{
    height: 60px;
    width: 60px;
  }
}

@media only screen and (min-width: 850px) {
  .about-me-description {
    padding-left: 5em;
    padding-right: 5em;
  }
  .main .content h1 {
    font-size: 2.5em;
  }
  .scroll{
    height: 80px;
    width: 80px;
  }
}

@media only screen and (min-width: 1050px) {
  .main {
    height: 80vh;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-container header {
    background: #18411B;
    padding: 2em 2em 2em 2em;
  }
  .social-header {
    padding: 1.6em 6.8em 0em 0;
  }
  .social-header {
    display: block;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 10em;
    float: right;
  }
  .social-header ul img {
    width: 40px;
  }
  .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .main .content {
    background: #1A481D;
    padding: 5em 8em 2em 1.4em;
    text-align: left;
    font-size: 1.45em;
  }
  .main .content h1 {
    font-size: 3.75em;
    line-height: 1.2em;
    overflow-wrap: break-word;
    margin: 0;
  }
  .meet {
    justify-content: start;
  
  }
  .meet p {
    padding: 2em;
    font-size: 1.1em;
  }
  .scroll {
    margin: .5em 1em 1em 3.5em;
    height: 100px;
    width: 100px;
  }
  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }
  .left {
    text-align: left;
  }
  .second {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
  }
  .about-me-description {
    padding-left: 1em;
    padding-right: 1em;
  }
  .right {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .right .svg {
    margin: auto;
    
  }
  .content {
    font-size: 1.95em;
  }
  .second {
    height: auto;
  }
  .second .left {
    margin-top: 0em;
    /*This can be changed to 2em */
  }
  .second .left .subtitle, .subtitle{
    font-size: 1.5em;
    margin-bottom: 1.5em;
  }
  .contact-form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
    -ms-grid-rows: 80% auto;
        grid-template-rows: 80% auto;
    grid-gap: 0px;
    padding: 1em;
    height: 450px;
  }
  .info {
    padding: 2em .25em 0em 0em;
    margin-top: .55em;
  }
  .info .contact-form-txt {
    width: 75%;
    height: 40px;
    margin-bottom: 30px;
  }
  .message {
    margin-top: 2.5em;
    margin-left: -2em;
    margin-bottom: -4.75em;
  }
  .contact-form-txtarea {
    height: 85%;
    width: 80%;
  }
  .button {
    margin-top: -1em;
    margin-bottom: 2em;
    display: initial;
    
  }
  .contact-form-btn{
    cursor: pointer;
  }
}

@media only screen and (min-width: 1250px) {
  .nav-container header {
    padding: 2em 2em 2em 10em;
  }
  .social-header {
    padding: 1.6em 8.5em 0em 0;
  }
  .second {
    padding: 4em 10em 4em 10em;
  }
  .main .content{
    padding: 6em 8em 6em 6.8em;
  }
}
@media only screen and (min-width: 1550px) and (min-height: 1100px ) {
  .nav-container header {
    padding: 2em 2em 2em 15em;
  }
  .social-header {
    padding: 1.6em 10em 0em 0;
  }
  .second {
    padding: 6em 15em 6em 15em;
  }
  .main .content{
    padding: 6em 8em 6em 10.2em;
  }
}
@media only screen and (min-width: 1750px) {
  .social-header {
    padding: 1.6em 13em 0em 0;
  }

}
@media only screen and (min-width: 2000px) {
  .nav-container header {
    padding: 2em 2em 2em 22em;
  }
  .social-header {
    padding: 1.6em 20em 0em 0;
  }
  .second {
    padding: 6em 15em 6em 22em;
  }
  .main .content{
    padding: 6em 8em 6em 14.9em;
    
  }
  .main{
    max-height: 1050px;
  }
}

/*Begining of Media Q's regarding width*/

@media only screen and (max-height: 1099px) and (min-width: 1250px){
  .main{
    height: 80vh;
  }
  .main .content{
    font-size: 1.30em;
  }
  .meet{
    font-size: .9em;
  }
  .scroll{
    width: 80px;
    height: 80px;
    margin: .5em 1em 1em 3em;
  }
  .hero-design{
    height: 600px;
  }
  .main .content{
    padding: 6em 8em 6em 7.6em;
  }
}
@media only screen and (max-height: 949px) and (min-width: 1250px){

  .main .content{
    font-size: 1.20em;
  }
  .meet{
    font-size: .8em;
  }
  .scroll{
    width: 60px;
    height: 60px;
    margin: .5em 1em 1em 2.8em;
  }
  .hero-design{
    height: 560px;
  }
  .main .content{
    padding: 6em 8em 6em 8.2em;
  }
}
@media only screen and (max-height: 849px) and (min-width: 1250px ){

  .main .content{
    font-size: 1.10em;
  }
  .meet{
    font-size: .7em;
  }
  .scroll{
    width: 60px;
    height: 60px;
    margin: .5em 1em 1em 2.1em;
  }
  .hero-design{
    height: 520px;
  }
  .main .content{
    padding: 6em 8em 6em 9em;
  }
}
@media only screen and (max-height: 799px) and (min-width: 1250px ){
  .hero-design{
    height: 480px;
  }
}

@media only screen and (max-height: 720px) and (min-width: 1250px ){

  .main .content{
    font-size: 1em;
  }
  .meet{
    font-size: .8em;
  }
  .scroll{
    width: 50px;
    height: 50px;
    margin: .5em 1em 1em 2.1em;
  }
  .hero-design{
    height: 420px;
  }
  .main .content{
    padding: 6em 8em 6em 9.8em;
  }
}
@media only screen and (max-height: 649px) and (min-width: 1250px ){

  .main .content{
    font-size: .8em;
  }
  .meet{
    font-size: .8em;
  }
  .scroll{
    width: 50px;
    height: 50px;
    margin: .5em 1em 1em 2.1em;
  }
  .hero-design{
    height: 350px;
  }
  .main .content{
    padding: 6em 8em 6em 12.5em;
  }
}
@media only screen and (max-height: 580px) and (min-width: 1250px ){

  .main .content{
    font-size: .75em;
  }
  .meet{
    font-size: .8em;
  }
  .scroll{
    width: 40px;
    height: 40px;
    margin: .5em 1em 1em 2.1em;
  }
  .hero-design{
    height: 300px;
  }
  .main .content{
    padding: 6em 8em 6em 13.2em;
  }
}

/*Begining of Media Q's to fix when the height is less than 1100px*/

@media only screen and (max-height: 1099px) and (min-width: 1550px ){
  .main .content{
    padding: 6em 8em 6em 7.5em;
  }
}
@media only screen and (max-height: 949px) and (min-width: 1550px ){
  .main .content{
    padding: 6em 8em 6em 8.1em;
  }
}
@media only screen and (max-height: 849px) and (min-width: 1550px ){
  .main .content{
    padding: 6em 8em 6em 8.7em;
  }
}
@media only screen and (max-height: 720px) and (min-width: 1550px ){
  .main .content{
    padding: 6em 8em 6em 9.9em;
  }
}
@media only screen and (max-height: 649px) and (min-width: 1550px ){
  .main .content{
    padding: 6em 8em 6em 12.7em;
  }
}
@media only screen and (max-height: 580px) and (min-width: 1550px ){
  .main .content{
    padding: 6em 8em 6em 13.2em;
  }
}
@media only screen and (max-height: 1099px) and (min-width: 1999px ){
    .main .content{
      padding: 6em 8em 6em 16.5em;
    }
}
@media only screen and (max-height: 949px) and (min-width: 1999px ){
  .main .content{
    padding: 6em 8em 6em 18.2em;
  }
}
@media only screen and (max-height: 849px) and (min-width: 1999px ){
  .main .content{
    padding: 6em 8em 6em 20em;
  }
}
@media only screen and (max-height: 720px) and (min-width: 1999px ){
  .main .content{
    padding: 6em 8em 6em 22em;
  }
}
@media only screen and (max-height: 649px) and (min-width: 1999px ){
  .main .content{
    padding: 6em 8em 6em 27em;
  }
}
@media only screen and (max-height: 580px) and (min-width: 1999px ){
  .main .content{
    padding: 6em 8em 6em 29em;
  }
}
@media only screen and (max-height: 950px) and (max-width: 1249px ) and (min-width: 1050px){
  .main{
    height: 750px;
  }
}
@media only screen and (max-height: 950px)and (max-height: 800px) and (max-width: 1050px ) and (min-width: 850px){
  .main{
    height: 550px;
  }
@media only screen and (max-width: 850px) and (max-height: 560px){
  .main .content{
    font-size: .55em;
  }
  .scroll{
    height: 22px;
    width: 22px;
  }
}